#include <winres.h>

#ifndef _DEBUG
#define VER_DEBUG 0
#else
#define VER_DEBUG VS_FF_DEBUG
#endif

IDI_ICON1 ICON "C:/Development/op3d_active/pcl-1.11.0/cmake/images/pcl.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    1,11,0,99
  PRODUCTVERSION 1,11,0,99
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
  FILEFLAGS      VER_DEBUG
  FILEOS         VOS_NT_WINDOWS32
  FILETYPE       VFT_APP
  FILESUBTYPE    VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Open Perception Foundation"
      VALUE "FileDescription",  "Point cloud octree library"
      VALUE "FileVersion",      "1.11.0-dev"
      VALUE "LegalCopyright",   "©Open Perception Foundation. All rights reserved."
      VALUE "ProductName",      "Point Cloud Library"
      VALUE "ProductVersion",   "1.11.0-dev"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    /* The following line should only be modified for localized versions.     */
    /* It consists of any number of WORD,WORD pairs, with each pair           */
    /* describing a language,codepage combination supported by the file.      */
    /*                                                                        */
    /* For example, a file might have values "0x409,1252" indicating that it  */
    /* supports English language (0x409) in the Windows ANSI codepage (1252). */

    VALUE "Translation", 0x409, 1252
  END
END
